name: Pilar Ternera Action

on: 
    push:

jobs:
    pili:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v2
              with:
                node-version: 24
            - uses: ./

